<br><br><div style='background:#FBF9F9'><center><br><img src='http://inteligente.pe/sucursal/inteligente-logo.png'><br><br>


<div style='background:#fff;width:90%;font-family:arial'><center><br><br>
<div style='width:90%;text-align:left'>
<h3>GRACIAS POR CONFIRMAR SU PAGO</h3> <br><br>
 
 
MUNDO GOURMET, su cuenta esta activo .<br><br>
Monto de pago: 25 Dolares
 <br><br>
 Correspondiente de : 18/11/2018 al 18/12/2018
<br><br>
Su proximo pago: 18/12/2018<br><br>

<div style='text-align:center;border:1px solid #ccc;border-radius: 6px;'>
<br><br>La penalidad se aplica 1 dolares diario luego de vencer<br><br><br>
</div>
<br><br><center><a href='https://www.inteligente.pe/' style='text-decoration: none;'>www.inteligente.pe</a></center>
<br><br>


</div><br><br>
</div>
<br><br>
</div>