<span style='color: #000' title='Frames'>   258</span><span style='color: #009' title='Memory'>   9728.00 KB</span><span style='color: #900' title='Time'>    283.61 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />