 .cuerpo  {
	max-width: 1300px;
	width: 95%;
	margin:0px auto;font-family:arial;
	
}
@media screen {  .no_mostrar { display: none; } .no_imprimir { display: block; }   }      
@media print {   .no_mostrar { display: block; } .no_imprimir { display: none; }	  }
 
.cuerpo a{color:#0080FF;text-decoration:none} .cuerpo a:hover{text-decoration:underline} .cuerpo a:visited{color:#000}

 
.post-date{display:block;margin-bottom:18px}
.grid{margin-top:0;margin-bottom:0}
blockquote{text-align:center;font-weight:normal}
blockquote a{text-decoration:underline}
cite{display:block}input,textarea,select{  font: 16px 'Open Sans'   }
select,input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#a3b4bb}:-moz-placeholder{color:#a3b4bb}::-m
oz-placeholder{color:#a3b4bb}:-ms-input-placeholder{color:#a3b4bb}::placeholder{color:#a3b4bb}
input[type="text"],input[type="password"],input[type="tel"],input[type="number"],input[type="search"],input[type="email"],input[type="Date"],input[type="url"],select,textarea{-webkit-border-radius:3px 3px;-moz-border-radius:3px / 3px;border-radius:3px / 3px;-webkit-transition:all 0.1s ease-in;-moz-transition:all 0.1s ease-in;transition:all 0.1s ease-in;-webkit-box-shadow:inset 0 1px 0 #e7e7e7;-moz-box-shadow:inset 0 1px 0 #e7e7e7;box-shadow:inset 0 1px 0 #e7e7e7;padding:9px;border:1px solid #d7dcdd;color:#000000;outline:none}
input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="email"]:focus,input[type="Date"]:focus,input[type="url"]:focus,textarea:focus{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;border:1px solid #0083a5;outline:none}
button,input[type="submit"]{border:solid 1px #dae0e2}button.btn-primary,button.btn-dark,input[type="submit"].btn-primary,input[type="submit"].btn-dark{border:0}label.error{display:block;font-size:14px;text-align:left;color:#b32017;padding:15px}
.page-landing label.error{-webkit-border-radius:3px 3px;-moz-border-radius:3px / 3px;border-radius:3px / 3px;background:#eddad7;margin-bottom:3px}
input.error,textarea.error,select.error{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:1px solid #b32017;background:#fffafa}::-webkit-input-placeholder{color:#505353}:-moz-placeholder{color:#505353}
.placeholder{color:#505353}select{border:1px solid #d7dcdd;/*height:37px;*/color:#505353}textarea{line-height:1.6em} 
select{ padding:8px }input[type="Date"]{ padding:8px } 
.anchoMedio  {width: 70%;}
 
/*
input[type="checkbox"]{-webkit-border-radius:3px 3px;-moz-border-radius:3px / 3px;border-radius:3px / 3px;-webkit-transition:all 0.1s ease-in;-moz-transition:all 0.1s ease-in;transition:all 0.1s ease-in;-webkit-box-shadow:inset 0 1px 0 #e7e7e7;-moz-box-shadow:inset 0 1px 0 #e7e7e7;box-shadow:inset 0 1px 0 #e7e7e7;padding:9px;border:1px solid #d7dcdd;color:#000000;outline:none}
input[type="checkbox"]:focus,{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;border:1px solid #0083a5;outline:none}
*/

/*----------------INICIO Hotel  */

.xtable{ display:table}
.xtd{ display:table-cell}
.hANCHO {   	 min-width:120px;  }
.habitacion_e_libre {  background:#339966;   }.habitacion_e_libre:hover { 	background:#226845;}
.habitacion_e_reservado {background: #CCCC00;}.habitacion_e_reservado:hover { background:#979700;}
.habitacion_e_ocupado {background: #CC3300; }.habitacion_e_ocupado:hover {background:#9B2700;}
.habitacion_e_ocupadoxh {background:#663300;}.habitacion_e_ocupadoxh:hover { background:#9B2700;}.habitacion_e_ocupadoxhh {background:#663300;}
.habitacion_e_limpieza {background:#669999;}.habitacion_e_limpieza:hover { background:#446666;}
.habitacion_e_mantenimiento {background:#666699;}.habitacion_e_mantenimiento:hover {background:#9B2700;}
 .circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	/* width and height can be anything, as long as they're equal */
}

/*---------------FIN -Hotel  */

/*.g-anual{width:800px; height:500px;}*/


.dates  {	background:url("../ico/calen.png") #fff no-repeat right;}


.mesano{	background:url("../ico/calen.png") #fff no-repeat right;}
 
 
 

/*Para detectar Firefox*/
@-moz-document url-prefix()  {
 select{ height:43px; }
 input[type="Date"]{ height:43px; }
	/*select{ padding:10px }
	input[type="Date"]{ padding:8px }*/
 
}
/*Para los navegadores con motor webkit, como son Safari y Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0)
 {
 
 }
 
/*Para el navegador Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000),
 not all and (-webkit-min-device-pixel-ratio:0)
 {
 
 }


@media screen and (-webkit-min-device-pixel-ratio:0) {
  /*select { height:37px; }*/
}



.footer-col{width: 300px;margin-top:10px;margin-bottom:10px}
.footer-col a{color:#fff;text-decoration:none}

hr{height:1px;margin:18px 0;border:0;background-color:#d7dcdd;color:#d7dcdd}



			.inp_a0{ width:25px}
			.inp_an0{ width:50px}
			.inp_an1{ width:100px}
			.inp_an2{ width:150px}
			.inp_an3{ width:200px}
			.inp_an4{ width:250px}
			.inp_an5{ width:300px}
			.inp_an6{ width:350px}
			.inp_an7{ width:400px}
			.inp_an8{ width:450px}
			.inp_an9{ width:500px}







@media screen and (max-width:800px) {

			.inp_a0{ width:100%}
			.inp_an0{ width:100%}
			.inp_an1{ width:100%}
			.inp_an2{ width:100%}
			.inp_an3{ width:100%}
			.inp_an4{ width:100%}
			.inp_an5{ width:100%}
			.inp_an6{ width:100%}
			.inp_an7{ width:100%}
			.inp_an8{ width:100%}
			.inp_an9{ width:100%}
			
.footer-col{width: 250px;margin-top:10px;margin-bottom:10px}

.logo {	display:none;}
.ocultarMovil {	display:none;}


	 
}


@media screen and (max-width: 400px) {

			.inp_a0{ width:100%}
			.inp_an0{ width:100%}
			.inp_an1{ width:100%}
			.inp_an2{ width:100%}
			.inp_an3{ width:100%}
			.inp_an4{ width:100%}
			.inp_an5{ width:100%}
			.inp_an6{ width:100%}
			.inp_an7{ width:250px}
			.inp_an8{ width:100%}
			.inp_an9{ width:100%}
}







.t1{font-size:8px;} .t2{font-size:10px;}.t3{font-size:12px;}.t4{font-size:14px;}.t5{font-size:16px;}
.t6{font-size:18px;}.t7{font-size:20px;}.t8{font-size:22px;}.t9{font-size:24px;}.t10{font-size:30px;}.t11{font-size:40px;}
.t12{font-size:50px;}.t13{font-size:60px;}.t14{font-size:70px;}.t15{font-size:80px;}.t16{font-size:90px;}.t17{font-size:100px;}

.b{font-weight:bold}
.c{text-align:center}.r{text-align:right}.l{text-align:left}
.m{vertical-align:middle}.t{vertical-align:top}.vb{vertical-align:bottom}.j{vertical-align:justify}



.pd0{padding:0px}.pd1{padding:1px}.pd2{padding:2px}.pd3 {padding:3px}.pd4 {padding:4px}.pd5 {padding:5px}.pd6 {padding:6px}.pd7 {padding:7px}.pd8 {padding:8px}.pd9 {padding:9px}.pd10 {padding:10px}

.pdt20{padding-top:20px}

.mr2{margin:2px}.mr3{margin:3px}.mr4{margin:4px}.mr5{margin:5px}.mr6{margin:6px}.mr7{margin:7px}.mr8{margin:8px}.mr9{margin:9px}.mr10{margin:10px} 
.mtop1{margin-top:3px}.mtop2{margin-top:4px}.mtop3{margin-top:5px}.mtop4{margin-top:7px}.mtop5{margin-top:10px}.mtop6{margin-top:15px}.mtop7{margin-top:20px}
.mbot1{margin-bottom:3px}.mbot2{margin-bottom:4px}.mbot3{margin-bottom:5px}.mbot4{margin-bottom:7px}.mbot5{margin-bottom:10px}.mbot6{margin-bottom:15px}.mbot7{margin-bottom:20px}

.mnbot1{margin-bottom:-3px}.mnbot2{margin-bottom:-4px}.mnbot3{margin-bottom:-5px}.mnbot4{margin-bottom:-7px}.mnbot5{margin-bottom:-10px}.mnbot6{margin-bottom:-15px}.mnbot7{margin-bottom:-20px}
.mntop1{margin-top:-3px}.mntop2{margin-top:-4px}.mntop3{margin-top:-5px}.mntop4{margin-top:-7px}.mntop5{margin-top:-10px}.mntop6{margin-top:-15px}.mntop7{margin-top:-20px}.mntop8{margin-top:-40px}.mntop9{margin-top:-60px}
.pntop1{padding-top:-3px}.pntop2{padding-top:-4px}.pntop3{padding-top:-5px}.pntop4{padding-top:-7px}.pntop5{padding-top:-10px}.pntop6{padding-top:-15px}.pntop7{padding-top:-20px}

.mnleft1{	margin-left:-3px}.mnleft2{	margin-left:-4px}.mnleft3{	margin-left:-5px}.mnleft4{	margin-left:-7px}.mnleft5{	margin-left:-10px}.mnleft6{	margin-left:-15px}.mnleft7{	margin-left:-17px}.mnleft8{	margin-left:-20px}.mnleft9{	margin-left:-25px}.mnleft10{	margin-left:-28px}.mnleft11{	margin-left:-30px}.mnleft12{	margin-left:-35px}.mnleft13{	margin-left:-40px}
.mleft1{margin-left:3px}.mleft2{margin-left:4px}.mleft3{margin-left:5px}.mleft4{margin-left:7px}.mleft5{margin-left:10px}.mleft6{margin-left:15px}.mleft7{margin-left:17px}.mleft8{margin-left:20px}.mleft9{margin-left:30px}

.mnright1{	margin-left:-3px}.mnright2{	margin-left:-4px}.mnright3{	margin-left:-5px}.mnright4{	margin-left:-7px}.mnright5{	margin-left:-10px}.mnright6{	margin-left:-15px}.mnright7{	margin-left:-17px}.mnright8{	margin-left:-20px}.mnright9{	margin-left:-25px}.mnright10{	margin-left:-28px}.mnright11{	margin-left:-30px}.mnright12{	margin-left:-35px}.mnright13{	margin-left:-40px}
.mlright1{margin-left:3px}.mlright2{margin-left:4px}.mlright3{margin-left:5px}.mlright4{margin-left:7px}.mlright5{margin-left:10px}.mlright6{margin-left:15px}.mlright7{margin-left:17px}.mlright8{margin-left:20px}.mlright9{margin-left:30px}


.tb{color: #ffffff;}.bgb{background: #ffffff;} .bgb5{background: #F9F6F5;}
.tg{color: #cccccc;}
.tgo{color: #666666;}
.tn{color: #000000;}
.trojo{color: #C70102;} .bgr5{background: #D23030;}

.cr1{color:#560101} .cr2{color:#660202} .cr3{color:#720202} .cr4{color:#7F0202} .cr5{color:#8B0303} .cr6{color:#990303} .cr7{color:#A60303}
.cr8{color:#B50303} .cr9{color:#C30202} .cr10{color:#D40202} .cr11{color:#E40303} .cr12{color:#F20303} .cr13{color:#FE0202} .cr14{color:#FF2A2A}
.cr15{color:#FD3C3C} .cr16{color:#FE5151} .cr17{color:#FC5E5E} .cr18{color:#FD7272} .cr19{color:#FE8383} .cr20{color:#FD9696} .cr21{color:#FFA8A8} 
.cr22{color:#FEC6C6}
.ca1{color:#0E0149} .ca2{color:#110158} .ca3{color:#140267} .ca4{color:#170276} .ca5{color:#1A0286} .ca6{color:#1D0295} .ca7{color:#2002A5} 
.ca8{color:#2403B7} .ca9{color:#2602C4} .ca10{color:#2A04D3} .ca11{color:#2B02E1} .ca12{color:#2E03ED} .ca13{color:#3001FE} .ca13{color:#4A22FE}
.ca14{color:#5833FC} .ca15{color:#0408FF} .ca16{color:#7556FC} .ca17{color:#866BFD} .ca18{color:#9A84FD} .ca19{color:#AD9CFC} .ca20{color:#C1B4FE} 

.cv1{color:#064301} .cv2{color:#085201} .cv3{color:#095F01} .cv4{color:#0B7002} .cv5{color:#0C7E01} .cv6{color:#0D8C02} .cv7{color:#0E9B02}
.cv8{color:#10AB02} .cv9{color:#11BB02} .cv10{color:#12C602} .cv11{color:#14D702} .cv12{color:#16E603} .cv13{color:#17F203} 
.cv14{color:#18FF03} .cv15{color:#43FD32} .cv16{color:#53FC43} .cv17{color:#64FC57} .cv18{color:#74FB67} .cv19{color:#83FC78}
.cv20{color:#91FC87} .cv21{color:#A5FC9D} .cv22{color:#BCFCB6} .cv23{color:#D0FDCC}




.tc{color: #4664b9;}
.tco{color: #009BC1;}
.tce{color: #0099FF;}
.ta0{color:#ECF9FF;}.ta1{color:#D2F0FF;}.ta2{color:#9FE0FF;}.ta3{color:#7DD5FF;}.ta4{color:#33BDF;}.ta5{color:#11B1FF;}.ta6{color:#00A9FB;}.ta7{color:#009BE6;}.ta8{color:#008FD5;}.ta9{color:#0082BF;}.ta10{color:#0076AE;}.ta11{color:#006697;}.ta12{color:#005984;}

.sobre{
position: relative;
position: absolute;
}



.bgAmrllo1{background:#FFFFCA}
.bgAmrllo5{background:#FFFF66}
.bgama1{background:#FFFFE1;}.bgama2{background:#FFFFD2;}.bgama3{background:#FFFFBF;}.bgama4{background:#FFFF97;}.bgama5{background:#FFFF77;}.bgama6{background:#FFFF55;}.bgama7{background:#FFFF00;}.bgama8{background:#DFDF00;}.bgama9{background:#C6C600;}.bgama10{background:#A4A400;}
.bgazu0{background:#ECF9FF;}.bgazu1{background:#D2F0FF;}.bgazu2{background:#9FE0FF;}.bgazu3{background:#7DD5FF;}.bgazu4{background:#33BDFf;}.bgazu5{background:#11B1FF;}.bgazu6{background:#00A9FB;}.bgazu7{background:#009BE6;}.bgazu8{background:#008FD5;}.bgazu9{background:#0082BF;}.bgazu10{background:#0076AE;}.bgazu11{background:#006697;}.bgazu12{background:#005984;}
.bgrojo4{background:#FADCDD}
.bgroj0{background:#FFECEC;}.bgroj1{background:#FFE6E6;}.bgroj2{background:#FFD5D5;}.bgroj3{background:#FFB7B7;}.bgroj4{background:#FF9393;}.bgroj5{background:#FF7171;}.bgroj6{background:#FF4F4F;}.bgroj7{background:#FF2828;}.bgroj8{background:#FF0000;}.bgroj9{background:#DD0000;}.bgroj10{background:#C10000;}.bgroj11{background:#9D0000;}.bgroj12{background:#9D0000;}
.bgverde0{background:#eefcee}.bgverde1{background:#E2F5E2}
 
 
 .tverde1{color:#E2F5E2}   .tverde6{color:#009933}
 .tverde9{color:#004000}
  
.border{border:1px solid #ccc}
.bordert{border-top:1px solid #ccc}  
.borderbd{border:none;border-bottom:1px dashed #ccc;}
.border{border:solid 1px #cccccc}
.borderso{border-top:solid 1px #cccccc}
.bordertso{border-top:solid 1px #cccccc}
.borderbso{border-bottom:solid 1px #cccccc}
.borderlso{border-left:solid 1px #cccccc}
.borderrso{border-right:solid 1px #cccccc}

.borderbtso{border-bottom:solid 1px #cccccc}


.bordertl{border-top:1px dashed #ccc}

.borderrd{border-right:1px dashed #ccc} 
 
.mayuscula{
 text-transform: uppercase;
}
 
 
 
.arial{font-family:arial;}
.tahoma{font-family:tahoma;}
.sl {text-decoration:none}
#tabletd { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#tabletd li { margin-top: 2px; padding-right: 8px;padding-bottom: 15px; float: left; widthxx: 320px;  font-size: 1em; text-align: left; }



 
.tdMovil{float: left}


#tabletd2 { list-style-type: none; margin: 0; padding: 0; width: 100%; display:  table;}
#tabletd2  li { margin-top: 2px; padding-right: 8px; float: left; display:table-column;  font-size: 1em; text-align: left; }

#tabletd3 { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#tabletd3 li { margin-top: 0px; margin: 0;padding-right: 8px; float: left; widthxx: 320px;  font-size: 1em; text-align: left; }


/* TABLA CON CSS*/ 
.divTable
{
	display:  table;
	width:auto;
	background-color:#eee;
	border:1px solid  #666666;
	border-spacing:5px;/*cellspacing:poor IE support for  this*/
   /* border-collapse:separate;*/
 }
.divTr
{
   display:table-row;
   width:auto;
   clear:both;
}
.divTd
{
	float:left;/*fix for  buggy browsers*/
	display:table-column;
	width:200px;
	background-color:#ccc;
} 

.divTableN
{
	display:  table;
	width:100%;
	background-color_:#eee;
	border_:1px solid  #666666;
	border-spacing_:5px;/*cellspacing:poor IE support for  this*/
   /* border-collapse:separate;*/
 }
.divTdN
{
	float:left;/*fix for  buggy browsers*/
	display:table-column;
	background-color_:#ccc;
	border:1px solid  #ccc;
} 	
.divTdN2
{
	float:left;/*fix for  buggy browsers*/
	display:table-column;
	background-color_:#ccc;
	border:1px solid  #fff;
	border-spacing:5px;
	padding-right:5px
} 	
 /* <div class="divTable">
		<div class="headRow">
			<div class="divTd" align="center">Customer ID</div>
			<div  class="divTd">Customer Name</div>
			<div  class="divTd">Customer Address</div>
		 </div>
		<div class="divTr">
			  <div class="divTd">001</div>
			<div class="divTd">002</div>
			<div class="divTd">003</div>
		</div>
		<div class="divTr">
			<div class="divTd">xxx</div>
			<div class="divTd">yyy</div>
			<div class="divTd">www</div>
	    </div>
		<div class="divTr">
			<div class="divTd">ttt</div>
			<div class="divTd">uuu</div>
			<div class="divTd">Mkkk</div>
	    </div>
    </div>	
*/	
	
	
/* FIN TABLA CON CSS*/ 
 
 
 
 
 
 
 

.dedos {	cursor: pointer; cursor: hand;}

.botonLink{		
		heightt:35px;
		display:inline-block;
		text-align:middle;
		background:#40a2c5;
		font:18px/22px Arial, Helvetica, sans-serif;
		color:#f6f6f6;
		text-decoration:none;
		paddingd:3px 8px 6px;
		padding:8px 12px 8px 12px;
		cursor:pointer;
		border:none;
		border-radius:9px;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		box-shadow:inset 1px 1px 0 #e2e1e1;
}
.botonLink a:link{text-decoration:none;color:#fff;}
.botonLink:hover{background:#1c1c1c;text-decoration:none;}
 
.botonNuevo{		
		display:inline-block;
		background:#40a2c5;
		fontt:18px/22px Arial, Helvetica, sans-serif;
		font:18px tahoma,Arial, Helvetica, sans-serif;
		color:#f6f6f6;
		text-decoration:none;
		paddingg:3px 8px 6px;		
		padding:8px 10px 8px;
		margin-bottom:10px;
		cursor:pointer;
		border:none;
		border-radius:6px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
}
.botonNuevo:hover{background:#1c1c1c;}	

 

 /*
	button {
		border: none;
		background: #3a7999;
		color: #f2f2f2;
		padding: 10px;
		font-size: 18px;
		border-radius: 5px;
		position: relative;
		box-sizing: border-box;
		transition: all 500ms ease; 
	}
	
	button {
		transform-style: preserve-3d;
	}
	
	button:after {
		top: -100%;
		left: 0px;
		width: 100%;
		padding: 10px 0;
		position: absolute;
		background: #3a9999;
		border-radius: 5px;
		content: 'Flipped';
		transform-origin: left bottom;
		transform: rotateX(90deg);
	}
	
	button:hover {
		transform-origin: center bottom;
		transform: rotateX(-90deg) translateY(100%);
	}


*/


.botonImp{		
		display:inline-block;
		background:#40a2c5;
		fontt:18px/22px Arial, Helvetica, sans-serif;
		font:18px tahoma,Arial, Helvetica, sans-serif;
		color:#f6f6f6;
		text-decoration:none;
		paddingg:3px 8px 6px;
		padding:8px 10px 8px;
		content:"\f095";
		cursor:pointer;
		border:none;
		border-radius:6px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
}
.botonImp:hover{background:#1c1c1c;}	




.headTitle {
	 BACKGROUND: #005F8C;FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: tahoma
}
.headTitleVerde {
	 BACKGROUND: #005500;FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: tahoma
}
.texto {
	 FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: tahoma
}

/*------fin onllysystem------------*/

.botonimg{	
		background-color:transparent;border:none;
}
 


.section-inner{margin:0 auto;width:950px}  
 
 
 
 
 
 
 
 
 
 
.bg-bg_{
background: -webkit-linear-gradient(left, #ccc , #0066CC); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #ccc, #0066CC); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #ccc, #0066CC); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, #ccc, #0066CC); /* Standard syntax */
}
.bg-bg{ 
background:#0274BE;
}
.footer__{ 
background:#0274BE;
}




 @font-face {
  font-family: 'Arial-Black';
  src: url('../fonts/inteligente-logo.eot'); /* IE9 Compat Modes */
  src: url('../fonts/inteligente-logo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inteligente-logo.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inteligente-logo.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inteligente-logo.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
.header-logo{color:#fff;font-size:32px; font-family:arial,tahoma;letter-spacing:-3.5px;text-decoration:none}


/*
.espMenu{ padding-left: 50px;padding-right: 50px; padding-top: 20px;padding-bottom: 20px; }
 

@media screen and (max-width: 1180px) {
	.cuerpo  {max-width: 1100px;width: 90%;  }	
}

 @media screen and (max-width: 1100px) {
	.espMenu{ padding-left: 10px;}	
}

 @media screen and (max-width: 1050px) {
	.espMenu{ padding-left: 0px;padding-right: 0px;}	
}


 
@media screen and (max-width: 767px) {
	.espMenu{ padding: 5px;}
	.cuerpo  {max-width: 1000px;}	
}

*/
.footerColor { background:#01578E;}

 
 
 
 
 
 	.ventanaPopUP{
      width:800px
    }
 
 
 
 
 
 
table.tableM {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
.tableM tr:nth-of-type(odd) { 
	background: #eee; 
}
.tableM th { 
	background: #005F8C;#333; 	color: white; 	font-weight: bold; 
}

  table.tableM tr {
    border: 1px solid #ddd;
    padding: 5px;
  }

  table.tableM th, table.tableM td {
    padding: 10px;
    text-align: center;
  }

  table.tableM th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 600px) {

    table.tableM {
      border: 0;
    }

    table.tableM thead {
      display: none;
    }

    table.tableM tr {
      margin-bottom_: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table.tableM td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table.tableM td:last-child {
      border-bottom: 0;
    }

    table.tableM td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
	
	.ventanaPopUP{
      width:400px;
    }
	
	
		.anchoMedio  {
			width: 100%;	
		}	
	
  } 
 
 
 
 
 
 @media screen and (max-width: 400px) {
 
 	.ventanaPopUP{
      width:100%;
    }
 
 } 
 
 
 
 
 
 
 
.cuadroop ul {
	max-width_: 1240px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;	
}
.cuadroop ul li a span{	color:#fff;	}
.cuadroop li span {	display: block;}
.cuadroop a {
	display: block;
	color_: rgba(249, 249, 249, .9);	
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}
.cuadroop i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* Remove the blue Webkit background when element is tapped */
 .cuadroop a, .cuadroop button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
} 
/* Hover effect for the whole navigation to make the hovered item stand out */
.no-touch .cuadroop ul:hover a {
	color: rgba(249, 249, 249, .5);
}
.no-touch .cuadroop ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}
/* Adding some background color to the different menu items */
.cuadroop li:nth-child(6n+1) {
	background: rgb(208, 101, 3);
}
.cuadroop li:nth-child(6n+2) {
	background: rgb(233, 147, 26);
}
.cuadroop li:nth-child(6n+3) {
	background: rgb(22, 145, 190);
}
.cuadroop li:nth-child(6n+4) {
	background: rgb(22, 107, 162);
}
.cuadroop li:nth-child(6n+5) {
	background: rgb(27, 54, 71);
}
.cuadroop li:nth-child(6n+6) {
	background: rgb(21, 40, 54);
}
.cuadroop li:nth-child(7n+7) {
	background: green;
} 
	/* Transforms the list into a horizontal navigation */
	.cuadroop li {
		float: left;
		width_: 16.66666666666667%;
		width: 200px;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}
	.cuadroop a {
		display: block;
		width: auto;
	}
	/* hover, focused and active effects that add a little colored border to the different items */
	.no-touch .cuadroop li:nth-child(6n+1) a:hover,
	.no-touch .cuadroop li:nth-child(6n+1) a:active,
	.no-touch .cuadroop li:nth-child(6n+1) a:focus {
		border-bottom: 4px solid rgb(174, 78, 1);
	}
	.no-touch .cuadroop li:nth-child(6n+2) a:hover,
	.no-touch .cuadroop li:nth-child(6n+2) a:active,
	.no-touch .cuadroop li:nth-child(6n+2) a:focus {
		border-bottom: 4px solid rgb(191, 117, 20);
	}
	.no-touch .cuadroop li:nth-child(6n+3) a:hover,
	.no-touch .cuadroop li:nth-child(6n+3) a:active,
	.no-touch .cuadroop li:nth-child(6n+3) a:focus {
		border-bottom: 4px solid rgb(12, 110, 149);
	}
	.no-touch .cuadroop li:nth-child(6n+4) a:hover,
	.no-touch .cuadroop li:nth-child(6n+4) a:active,
	.no-touch .cuadroop li:nth-child(6n+4) a:focus {
		border-bottom: 4px solid rgb(10, 75, 117);
	}
	.no-touch .cuadroop li:nth-child(6n+5) a:hover,
	.no-touch .cuadroop li:nth-child(6n+5) a:active,
	.no-touch .cuadroop li:nth-child(6n+5) a:focus {
		border-bottom: 4px solid rgb(16, 34, 44);
	}
	.no-touch .cuadroop li:nth-child(6n+6) a:hover,
	.no-touch .cuadroop li:nth-child(6n+6) a:active,
	.no-touch .cuadroop li:nth-child(6n+6) a:focus {
		border-bottom: 4px solid rgb(9, 18, 25);
	}
	/* Placing the icon */	
	.cuadroop .icon {
		padding-top: 1.4em;
	}
	.cuadroop .icon + span {
		margin-top: 2.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}
	/* Animating the height of the element*/
	.cuadroop a {
		height: 9em;
	}
	.no-touch .cuadroop a:hover ,
	.cuadroop a:active ,
	.cuadroop a:focus {
		height: 10em;
	}	
	/* Making the text follow the height animation */
	.no-touch .cuadroop a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}
	/* Positioning the icons and preparing for the animation*/
	.cuadroop i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}		
	/* Animate the box-shadow to create the effect */
	.no-touch .cuadroop a:hover i,
	.no-touch .cuadroop a:active i,
	.no-touch .cuadroop a:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		

 



 
 
 
 
 
 
 
 
 
 
 .column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; 
 }
 
 .mid{ width:50%; }
 
 @media (min-width: 550px) {

  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
 
   
   
  .one { width: 4.66666666667%; }    .ones { width: 8%; } .oness { width: 10%; } .onesss { width: 8%; }
  
  .two{ width: 13.3333333333%; } .twox{ width: 13%; } .two5{ width: 15%; }.twos{ width: 17%; } .twoss{ width: 17%; }
  .three { width: 22%; } .threes { width: 27%; } .threess { width: 27%; }
  .four { width: 30.6666666667%; } .fours { width: 35%; } .fourss { width: 35%; }
  .five { width: 39.3333333333%; }
  .six{ width: 48%;} .six25{ width: 42.5%;} 
  .seven { width: 56.6666666667%; }
  .eight{ width: 65.3333333333%; }
  .nine { width: 74.0%;          }
  .ten{ width: 82.6666666667%; }.ten0{ width: 82%; } .ten5{ width: 85%; }
  .eleven{ width: 91.3333333333%; }.eleven6{ width: 96%; }
  .twelve { width: 100%; margin-left: 0; }
  .cero4 { width: 4%; }

   
}

  .two20{ width: 20%;}.two22{ width: 22%;}.two24{ width: 24%;}.two26{ width: 26%;}.two28{ width: 28%;} 
  .three30{ width: 30%;}.three32{ width: 32%;}.three34{ width: 34%;}.three36{ width: 36%;}.three38{ width: 38%;}
  .four40{ width: 40%;}.four42{ width: 42%;}.four44{ width: 44%;}.four46{ width: 46%;}.four48{ width: 48%;}
  .five50{ width: 50%;}.five52{ width: 52%;}.five54{ width: 54%;}.five56{ width: 56%;}.five58{ width: 58%;}
  .six60{ width: 60%;}.six62{ width: 62%;}.six64{ width: 64%;}.six66{ width: 66%;}.six68{ width: 68%;}
  .eleven70{ width: 70%;}.eleven72{ width: 72%;}.eleven74{ width: 74%;}.eleven76{ width: 76%;}.eleven78{ width: 78%;}
  .eight80{ width: 80%;}.eight82{ width: 82%;}.eight84{ width: 84%;}.eight86{ width: 86%;}.eight88{ width: 88%;} 
  .nine90{ width: 90%;}.nine92{ width: 92%;}.nine94{ width: 94%;}.nine96{ width: 96%;}.nine98{ width: 98%;}


.two201{ width: 20%;}
.eight801{ width: 80%;}

#idimput { list-style-type: none; margin: 0; padding: 0; width_: 100%; }
#idimput li { margin-top: 2px; padding-right: 8px;padding-bottom: 15px; float: left;  font-size: 1em; text-align: left; }




#idimput  select {
  width: 100%;
  box-sizing: border-box; 
}
#idimput  input {
  width: 100%;
  box-sizing: border-box; 
}
#idimput  textarea {
  width: 100%;
  box-sizing: border-box; 
}



/*
#tabletd li  input,select {
  width: 100%;
  box-sizing: border-box; 
}
*/


.tdtres{  width: 70%;}
.tddos1{  width: 50%;}
.tddos2{  width: 40%;}

@media screen and (max-width: 549px) {
  .one { width: 100%; } .ones { width: 100%; } .oness { width: 50%; } .onesss { width: 40%; }
  .two{ width: 100%; } 	.twox{ width: 50%; }	.two5{ width: 100%; } .twos{ width: 100%; } .twoss{ width: 50%; }
  .three { width: 100%;} .threes { width: 100%;} .threess { width: 50%;}
  .four { width: 100%; } .fours { width: 100%; } .fourss { width: 50%; }
  .five { width: 100%; }
  .six{ width: 100%; }.six25{ width: 100%;}
  .seven { width: 100%;}
  .eight{ width: 100%;}
  .nine { width: 100%; }
  .ten{ width: 100%; }.ten0{ width: 100%; }.ten5{ width: 100%; }
  .eleven{ width: 100%; }.eleven6{ width: 99%; }
  .twelve { width: 100%; }   

.t7 { text-align:center } 
 
  .tdtres{  width: 100%;}
  
  .tddos1{  width: 100%;}
.tddos2{  width: 100%;}
  .mid{ width:100%; }
  
  
   .two20{ width: 100%;}.two22{ width: 100%;}.two24{ width: 100%;}.two26{ width: 100%;}.two28{ width: 100%;}
  .three30{ width: 100%;}.three32{ width: 100%;}.three34{ width: 100%;}.three36{ width: 100%;}.three38{ width: 100%;}
  .four40{ width: 100%;}.four42{ width: 100%;}.four44{ width: 100%;}.four46{ width: 100%;}.four48{ width: 100%;}
  .five50{ width: 100%;}.five52{ width: 100%;}.five54{ width: 100%;}.five56{ width: 100%;}.five58{ width: 100%;}
  .six60{ width: 100%;}.six62{ width: 100%;}.six64{ width: 100%;}.six66{ width: 100%;}.six68{ width: 100%;}
  .eleven70{ width: 100%;}.eleven72{ width: 100%;}.eleven74{ width: 100%;}.eleven76{ width: 100%;}.eleven78{ width: 100%;}
  .eight80{ width: 100%;}.eight82{ width:100%;}.eight84{ width: 100%;}.eight86{ width: 100%;}.eight88{ width: 100%;}
  .nine90{ width: 100%;}.nine92{ width: 100%;}.nine94{ width: 100%;}.nine96{ width: 100%;}.nine98{ width: 100%;} 
  
 /*.g-anual{width:480px; height:260px;} */
}


 

 

/*==============INICIO POPUP==================================*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0099FF;#06D85F;
}
.popup .contentPOP {
  max-height: 30%;
  overflow: auto;
}
.padMar10{margin-left:10px}
@media screen and (max-width: 700px){ 
  .popup{
    width: 98%;
  }
   .padMar10{margin-left:0px}
}
/*==============FIN POPUP==================================*/


input:focus:invalid{border-color:red; -webkit-box-shadow: 0 0 4px red; -moz-box-shadow: 0 0 4px red;box-shadow: 0 0 4px red;background-color: rgba(255, 0, 0, 0.3);}
input:focus:valid,input:required:valid{border-color:green;-webkit-box-shadow: 0 0 4px green;-moz-box-shadow:0 0 4px green;box-shadow:0 0 4px green;background-color:rgba(0, 255, 0, 0.3);}	   


.h20{height:20px}

.circu{border-radius: 100%;}
.circu4{border-radius:4px;}
.circu6{border-radius:6px;}
.circu8{border-radius:8px;}
.circu10{border-radius:10px;}

.b-b-g1{border-bottom:1px solid #ccc}
 
 
.flex{
  display: flex; 
}
.col {
  flex: 1;
}

.cdo100{width:100px;height:100px;}



